.pd-room-item {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 15px 15px;
    border-bottom: 1px solid #eee;
}

.pd-room-img {
    width: 160px;
    border-radius: 6px;
}
.pd-room-name {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}



.pd-room-items{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}