.pd-reserve {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
    align-items: center;
}

.pd-reserve-item label {
    font-size: 14px;
    margin-bottom: 4px;
}

.pd-reserve-item input {
    padding: 10px;
    border: 1px solid #ddd;
}

.pd-reserve-btn {
    background: #6a8250;
    color: #fff;
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}