/* Figma Styles of your File */:root {
  /* Colors */
  /* Fonts */
  --text-font-family: AritaDotumKr-Medium, sans-serif;
  --text-font-size: 32px;
  --text-line-height: normal;
  --text-font-weight: 500;
  --text-font-style: normal;

  /* Effects */

}
/* Figma Color Variables of your File */