name: Deploy Backend to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build with Gradle (skip test)
        working-directory: ./workeezy
        run: |
          chmod +x gradlew
          ./gradlew clean build -x test

      - name: Copy jar to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: ${{ secrets.EC2_PORT }}
          source: "workeezy/build/libs/*SNAPSHOT*.jar"
          target: "/home/ubuntu/workeezy-backend"

      - name: Deploy Backend
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: ${{ secrets.EC2_PORT }}
          script: |
            set -e

            cd /home/ubuntu/workeezy-backend

            echo "application-prod.yml 생성"
            cat << 'EOF' > application-prod.yml
${{ secrets.APPLICATION_PROPERTIES }}
EOF

            echo "기존 서버 종료"
            pkill -f workeezy || true

            echo "서버 실행"
            nohup java -jar workeezy-0.0.1-SNAPSHOT.jar \
              --spring.profiles.active=prod \
              > app.log 2>&1 &

            echo "Deploy finished"
